/* @font-face {
    font-family: Summit Attack;
    src:url('src/fonts/Summit-Attack.ttf')
}
@font-face {
    font-family: Quanto;
    src:url('src/fonts/Quanto.otf')
} */

.icon {
    width: 78px;
    height: 78px;
    border-radius: 8px;
    background-color: #60A3BC;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-title {
    width: 78px;
    font-family: 'Summit Attack';
    font-size: 17px;
    color: #3C6382;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

}